ul {
	li {
		list-style: circle;
		margin-left: 1em;
		
		a {
			
		}
		
		ul {
			margin-left: 1.5em;
			
			li {
				margin-left: 2em;
			}
		}
	}
}

nav,
#navbar {
//	box-shadow: 0 1px 3px 1px rgba(48,48,48,0.8);
//	-moz-box-shadow: 0 1px 3px 1px rgba(48,48,48,0.8);
//	-webkit-box-shadow: 0 1px 3px 1px rgba(48,48,48,0.8);
	display: block;
	padding: 10px 0;
	position: fixed;
	left: 0;
	top: -32px;
	width: 100%;
	z-index: 3;
	@include transition(all, .25s, 0s);
		
	#avatar_container {
        
		display: inline;
		height: 60px;
		overflow: hidden;
		position: relative;
		width: 60px;
		
		img#avatar {
			border: 5px solid $white;
			border-radius: 100%;
            -webkit-box-shadow: 0px 3px 7px $blue_med;
            -moz-box-shadow: 0px 3px 7px $blue_med;
            box-shadow: 0px 3px 7px $blue_med;
			display: inline-block;
			height: 60px;
			left: 20px;
			position: absolute;
			top: 20px;
            @include transition(all, .25s, 0s);
			width: 60px;
            z-index: 11;
		}

		.mask {
            background-color: rgba(0, 206, 209, 0.75);
            border-radius: 100%;
            cursor: pointer !important;
			display: none;
            font-weight: 400;
            height: 60px;
            left: 25px;
			position: absolute;
            top: 25px;
            width: 60px;
            @include userselect;
            z-index: 11;

			p {
                cursor: pointer;
                font-size: 85%;
                position: relative;
				top: 15px;
			}
		}

		&:hover {
            
            img#avatar {
                -webkit-box-shadow: 0px 3px 7px $blue_dark;
                -moz-box-shadow: 0px 3px 7px $blue_dark;
                box-shadow: 0px 3px 7px $blue_dark;
            }
			.mask {
				display: block;
			}
		}
	}
	
	h2#name {
		display: none;
		font-size: 1.6em;
		left: 90px;
		position: absolute;
		top: -100px;
		@include transition(all, .25s, 0s);
        
        @media only screen and (min-width: 840px) {
            display: inline-block;
			top: -100px;
        }
	}
	
	#menu {
		margin: 0 auto;
		margin-bottom: 20px;
		position: relative;
		width: 320px;
		@include transition(all, .25s, 0s);
		
		li {
			border-bottom: 1px solid transparent;
			display: inline-block;
			margin-left: 7px;
			text-align: center;
			@include transition(all, .1s, 0s);
			
			a {
				color: $white;
			}
			
			&:hover {
				border-bottom: 1px dotted $mint;
				transform: scale(1.1,1.1);
				-moz-transform: scale(1.1,1.1);
				-ms-transform: scale(1.1,1.1);
				-o-transform: scale(1.1,1.1);
				-webkit-transform: scale(1.1,1.1);
				
				a {
					color: $mint;
				}
			}
		}
	}
	
	#navicon {
		cursor: pointer;
		height: 30px;
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
		position: relative;
		width: 30px;
		@include transition(all, .25s, 0s);

		.navibars {
			height: 3px;
			position: absolute;
			width: 100%;
		}

		#naviT {
			top: 0;
			@include transition(all, .25s, 0s);
		}

		#naviM {
			top: 30%;
			right: 0;
			@include transition(all, .25s, 0s);
		}
		
		#menuTitle {
            bottom: 3px;
			display: block;
			font-size: .8em;
			font-weight: 400;
			position: relative;
			left: -55px;
			text-align: center;
			@include transition(all, .25s, 0s);
			
			p {
				padding-top: 1px;
			}
		}

		#naviB {
			top: 60%;
			@include transition(all, .25s, 0s);
		}
	}
	
	&:hover {
		#navicon {
			width: 45px;
			
			.navibars {
//				height: 5px;
			}
			
			#naviT {
				top: 0px;
			}
			
			#naviM {
				right: -50px;
			}
                
            #menuTitle {
                left: 0;
            }
			
			#naviB {
				top: 70%;
			}
		}
	}
}

nav.open,
#navbar.open {
	height: auto !important;
	top: 0 !important;
	@include transition(all, .25s, 0s);
	
	#navicon {
		verflow: visible;
		top: -5px;
		width: 45px;
		
		.navibars {
			width: 20px;
		}
		
		 #naviT {
			left: 12px;
			transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			top: 30% !important;
		}
		
		#naviM {
			display: none;
		}
		
		#menuTitle {
			left: 0px;
			top: 10px;
		}
		
		#naviB {
			right: 12px;
			transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			top: 30% !important;
		}
	}
	
	&:hover {
		#navicon {
			width: 45px;
			
			.navibars {
				height: 3px !important;
			}
			#naviM {
				right: -50px;
			}
		}
	}
}

//====================================
//              SOCIAL MEDIA 
//====================================

.social-wrapper {
    border-radius: 50%;
    height: 9em;
    left: -7px;
    overflow: hidden;
    position: absolute;
    width: 9em;
    
    @include transition(all, .3s, 0s);
    z-index: 10;
    
    .social-ul {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        
        li {
            height: 6em;
            left: -45px;
            overflow: hidden;
            position: absolute;
            top: -35px;
            width: 6em;
            transform-origin: 100% 100%;
            
            &:first-child {
                @include transform(rotate(148deg) skew(54deg) scale(0.1));
                @include transition(all, .25s, 0s);
            }

            &:nth-child(2) {
                @include transform(rotate(182deg) skew(54deg) scale(0.1));
                @include transition(all, .25s, 0.05s);
            }

            &:nth-child(3) {
                @include transform(rotate(218deg) skew(54deg) scale(0.1));
                @include transition(all, .25s, 0.1s);
            }

            &:nth-child(4) {
                @include transform(rotate(254deg) skew(54deg) scale(0.1));
                @include transition(all, .25s, 0.15s);
            }

            &:nth-child(5) {
                @include transform(rotate(290deg) skew(54deg) scale(0.1));
                @include transition(all, .25s, 0.2s);
            }
            
            a {
                box-shadow: 0px 2px 5px rgba($blue, 0.25);
                background: $white;
                border: 0;
                border-radius: 50%;
                height: 12em;
                left: 0;
                overflow: hidden;
                padding-top: 25px;
                position: absolute;
                @include transform(skew(-54deg) rotate(-72deg) scale(1));
                text-align: center;
                top: 0;
                position: absolute;
                width: 12em;
                
                @include transition(all, .15s, 0s);
                
                img {
                    display: block;
                    margin: 0 auto;
                    @include transform(rotate(180deg));
                    width: 25px;
                }
            }
            
            &:nth-child(even) {
                a {
                    background: $white_med;
                }
            }
            
            &:hover {
                a {
                    background: $mint_med;
                }
            }
        }
    }
    
    &.open-nav {
        #social_ul {
            li {
                &:first-child {
                @include transform(rotate(148deg) skew(54deg) scale(1));
            }

            &:nth-child(2) {
                @include transform(rotate(182deg) skew(54deg) scale(1));
            }

            &:nth-child(3) {
                @include transform(rotate(218deg) skew(54deg) scale(1));
            }

            &:nth-child(4) {
                @include transform(rotate(254deg) skew(54deg) scale(1));
            }

            &:nth-child(5) {
                @include transform(rotate(290deg) skew(54deg) scale(1));
            }
            }
        }
    }
}

footer {
    p {
        font-size: .875em;
    }
    
    .icon {
        width: 18px;
    }
    
    &.site-footer {
        a {
            border-bottom: none;
        }
    }
}


@media only screen and (min-width: 840px) {
	nav,
	#navbar {
		top: 0px;
		
		#menu {
			float: right;
			right: -400px;
			top: 9px;
			width: 400px;
			
			li {
				display: inline-block;
				width: auto;
			}
			
            h2#name {
				display: inline-block;
				top: -100px;
			}
		}
        
        #navicon {
            left: 200px !important;
            top: 6px !important;
        }
	}
	
	nav.open,
	#navbar.open {
		#menu {
			right: 0px;
			
			#navicon {
				left: 0px;
				top: 5px;
			}
		}
	}
}
