.material-btn-round {
    border-radius: 100px;
    display: block;
    height: 50px;
    min-width: 1px;
    min-height: 1px;
    padding: 5px;
    width: 50px;
    
    &.material-btn-white {
        background-color: $white;
        color: $gray;
    }
}