/******************************************
7.1 Float
******************************************/

.auto-margin {
    display: block;
    margin: 0 auto;
}

/******************************************
7.1 Padding
******************************************/

.pad-xl, .pad-vert-xl {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pad-xl {
    padding: 120px;
}

.pad-vert-xl {
    padding: 120px 0px;
}
