body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	font-family: 'Roboto-Thin', sans-serif;
			font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1,
h4 {
	line-height: 1.2em;
}

h3{
	line-height: 1.4em;
}
li,
span {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
h1 {
	font-size: 4em;
}
h3 {
	font-size: 2.1em;
}
h4 {
	font-size: 1.8em;
}

ul {
	list-style-type: circle;
	li {
		margin-left: 2em;
	}
}
a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: inherit;
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $mint;
	}
	&:visited {
		color: $gray;

		&:hover {
			color: $mint;
		}
	}
}

.text-gray {
	color: $gray;
}
.text-mint {
	color: $mint !important;
}
.text-white {
	color: $white;
}
.text-center {
	text-align: center;
}
